body {
  background-color: #cccccc;
  margin: 0;
  padding: 20px;
}

.trafficBox {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.myBox1 {
  background-color: red;
  padding-bottom: 1px;
  border: 15px darkred solid;
  margin: 50px 200px 5px;
  outline: 5px solid white;
}

.myBox2 {
  background-color: yellow;
  border: 15px darkgoldenrod solid;
  margin: 0px 200px 5px;
  outline: 5px solid white;
}

.myBox3 {
  background-color: green;
  border: 15px darkgreen solid;
  margin: 0px 200px 150px;
  outline: 5px solid white;
}

.innerBox1 {
  background-color: lightcoral;
  width: 170px;
  height: 80px;
  margin: 75px -10px;
}

.innerBox2 {
  background-color: lightgoldenrodyellow;
  width: 80px;
  height: 80px;
  margin: 80px;
}

.innerBox3 {
  background-color: lightgreen;
  width: 80px;
  height: 80px;
  margin: 80px -10px;
}
