body {
  margin: 0;
}

.myBox1 {
  background-color: red;
  width: 150px;
  height: 150px;
  padding: 10px;
  padding-bottom: 1px;
  border: 15px darkred solid;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 200px;
  outline: 5px solid white;
}

.myBox2 {
  background-color: yellow;
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 15px darkgoldenrod solid;
  margin-bottom: 5px;
  margin-left: 200px;
  outline: 5px solid white;
}

.myBox3 {
  background-color: green;
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 15px darkgreen solid;
  margin-bottom: 150px;
  margin-left: 200px;
  outline: 5px solid white;
}

.innerBox1 {
  background-color: lightcoral;
  width: 170px;
  height: 80px;
  margin-top: 75px;
  margin-left: -10px;
}

.innerBox2 {
  background-color: lightgoldenrodyellow;
  width: 80px;
  height: 80px;
  margin-top: 80px;
  margin-left: 80px;
}

.innerBox3 {
  background-color: lightgreen;
  width: 80px;
  height: 80px;
  margin-top: 80px;
  margin-left: -10px;
}

body {
  background-color: #cccccc;
  margin: 0;
  padding: 20px;
}
