body {
  margin: 0;
}

.myBox1 {
  background-color: red;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 15px darkred solid;
  margin-top: 50px;
  margin-bottom: 2%;
  margin-left: 100px;
}

.myBox2 {
  background-color: yellow;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 15px darkgoldenrod solid;
  margin-bottom: 2%;
  margin-left: 100px;
}

.myBox3 {
  background-color: green;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 15px darkgreen solid;
  margin-left: 100px;
  margin-bottom: 100px;
}

.innerBox1 {
  background-color: lightcoral;
  width: 120px;
  height: 60px;
  margin-top: 50px;
  margin-left: -10px;
}

.innerBox2 {
  background-color: lightgoldenrodyellow;
  width: 70px;
  height: 60px;
  margin-top: 50px;
  margin-left: 40px;
}

.innerBox3 {
  background-color: lightgreen;
  width: 70px;
  height: 60px;
  margin-top: 50px;
  margin-left: -10px;
}

body {
  background-color: #cccccc;
  margin: 0;
  padding: 20px;
}
