.header {
  padding: 30px;
  background-color: black;
  color: azure;
  text-align: center;
}
.menu {
  width: 30%;
  background-color: blue;
  height: 300px;
  float: left;
}
.content {
  background-color: red;
  width: 70%;
  height: 300px;
  float: left;
}
.footer {
  clear: both;
  background-color: black;
  min-height: 100px;
}
